<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
 <Properties>
    <Property name="filename">./logs</Property>
  </Properties>
    <Appenders>
        <RollingFile name="file" 
        fileName="${filename}/Logdemo.Log" 
        filePattern="${filename}/Logger-%d{HH-mm-ss}.Log">
            <PatternLayout>
                <pattern>%d %p %c{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <SizeBasedTriggeringPolicy size="1 KB" />
        </RollingFile>
        <Console name="ABC" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="sqlconnection" level="info" additivity="false">
            <AppenderRef ref="file" />
        </Logger>
        <Root level="fatal">
            <AppenderRef ref="file" />
        </Root>
    </Loggers>
</Configuration>